body {width:1920px;min-height:100vh;}
body * {color:#fff;}
/* 2행 bg */
.main_about_bg {
    background-image:url(../images/bg\ wrap.jpg);
    width:1920px; height:1800px;
}
/* 1행시작 */
.main_about_bg .main_wrap {
    width:100%; height:900px;
    padding:60px 100px;
    position:relative;
}
.main_about_bg .main_wrap .top .title_nav_wrap {
    display:flex; flex-flow:row nowrap;
    justify-content:space-between;
}
.main_about_bg .main_wrap .top .title_nav_wrap h2 {
    font-size:24px; font-weight:100;
    margin-bottom:222px;
}
.main_about_bg .main_wrap .top .title_nav_wrap .navigation {
    display:flex; flex-flow:row nowrap;
}
.main_about_bg .main_wrap .top .title_nav_wrap .navigation li {
    width:170px;
    line-height:60px; text-align:center;
}
.main_about_bg .main_wrap .top .title_nav_wrap .navigation li *{
    letter-spacing:0.05em;
}
.main_about_bg .main_wrap .top .title_nav_wrap .navigation li .active {
    font-size:20px; font-weight:500;
    background:rgba(255,255,255,0.15); backdrop-filter:blur(10px);
    border-radius:30px; 
    box-shadow:0 8px 32px rgba(0,0,0,0.1);
    border:1px solid rgba(255,255,255,0.2);
    width:170px; line-height:60px; display:block;
}
.main_about_bg .main_wrap .top .title_nav_wrap .navigation li a {
    font-size:20px; font-weight:200;
}
.main_about_bg .main_wrap .top .job {
    display:flex; gap:20px; justify-content: center;
}
.main_about_bg .main_wrap .top .job .uiux {
    border:1px solid #fff; width:200px; line-height:50px; border-radius:50px;
    text-align:center; font-size:24px; font-weight:400;
}
.main_about_bg .main_wrap .top .job .publishing {
    border:1px solid #fff; text-align:center; font-size:24px; font-weight:400;
    border-radius:50px; width:250px; line-height:50px;
}
.main_about_bg .main_wrap .bottom {
    display:flex; flex-flow:column nowrap; gap:150px;
}
.main_about_bg .main_wrap .bottom .slogan_title {}
.main_about_bg .main_wrap .bottom .slogan_title .slogan {
    padding-top:14px; display:flex; gap:14px;
    justify-content: center;
}
.main_about_bg .main_wrap .bottom .slogan_title .slogan {
    margin-bottom:14px;
}
.first,.second {font-size:40px; font-weight:50;}
.main_about_bg .main_wrap .bottom .slogan_title .slogan .first {}
.main_about_bg .main_wrap .bottom .slogan_title .slogan .first em {font-weight:bold;}
.main_about_bg .main_wrap .bottom .slogan_title .slogan .second  {}
.main_about_bg .main_wrap .bottom .slogan_title .slogan .second em {font-weight:bold;}
.main_about_bg .main_wrap .bottom .slogan_title h1 {
    font-size:90px; font-weight:300; text-align:center;
}
.main_about_bg .main_wrap .bottom .slogan_title h1 em {
    font-weight:bold;
    animation:titleMove 3s linear;
}
@keyframes titleMove {
    0%{opacity:0;}
    100%{opacity:1;}
}
.main_about_bg .main_wrap .bottom .interaction {
    display:flex; flex-flow:column nowrap; align-items:center; gap:12px;
}
.main_about_bg .main_wrap .bottom .interaction .next a {
    font-size:24px; font-weight:100; color:#888;
}
.main_about_bg .main_wrap .bottom .interaction .image img {
    animation:mousemove 0.5s linear infinite alternate;
}
@keyframes mousemove {
    0%{transform:translateY(0)}
    100%{transform:translateY(-10px)}
}
.main_about_bg .main_wrap .bottom .interaction .qr_wrap{
    position:absolute; left:30px; bottom:0;
}
.main_about_bg .main_wrap .bottom .interaction .qr_wrap .contact_ani {
    width:230px; height:230px;
    animation:turnContact 10s linear infinite;
}
.main_about_bg .main_wrap .bottom .interaction .qr_wrap .contact_ani img {
    width:100%; transform-origin:center;
}
.main_about_bg .main_wrap .bottom .interaction .qr_wrap .kakao {
    position:absolute; top:50%; left:50%;
    transform:translate(-50%, -50%);
    width:100px; height:100px;
}
.main_about_bg .main_wrap .bottom .interaction .qr_wrap .kakao img {
    width:100%;
}
@keyframes turnContact {
    0%{transform:rotate(0);}
    100%{transform:rotate(360deg);}
}